.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  // .form__item

  &__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0 0;

    &._error {
      .form__label {
        color: red;
      }
      .form__input {
        color: red;
      }
    }
  }

  // .form__label

  &__label {
    display: block;
    font-size: rem(18);
    line-height: 120%;
    font-weight: 600;
    color: $blueColor;
    transition: color 0.3s ease 0s;
    &:not(:last-child) {
      margin: 0 0 rem(10) 0;
    }
  }

  // .form__input

  &__input {
    width: rem(440);
    padding: 10px 0;
    border-bottom: 1px solid $blueColor;
    transition: all 0.3s ease 0s;
    text-align: center;

    &:focus {
      border-bottom: 1px solid $btnsColor;
      padding: 15px 0;
    }

    @media (max-width: rem(500)){
      width: rem(300);      
    }
  }

  // .form__button

  &__button {
    margin: 20px 0 0 0;
    max-height: 50px;
    width: 100%;
  }

  .form-loading {
    width: 100px;
    height: 100px;
  }

  .error {
    margin: 5px 0 0 0;
  }
}

.form-distribution {
  display: flex;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 20px;
  position: relative;

  @media (max-width:$mobileSmall){
    flex-direction: column;
  }

  &._error {
    outline: 1px solid red;

    .form-distribution__input {
      color: red;
    }
  }

  // .form-distribution__input

  &__input {
    border-radius: inherit;
    background: transparent;
    flex: 1 1 auto;
    padding: rem(20) rem(40);
  }

  // .form-distribution__btn

  &__btn {
    flex: 0 1 rem(183);
    max-height: rem(56);

    // @media (max-width:$tablet){
    //   flex: 0 0 rem(183);
    // }
  }

  .form__failed,
  .form__sucsess,
  .error {
    position: absolute;
    bottom: -30px;
    left: 10px;
  }
}

.form__failed {
  font-size: rem(20);
  font-weight: 600;
  color: red;
}

.form__sucsess {
  font-size: rem(40);
  font-weight: 600;
  color: $blueColor;
}

.error {
  color: red;
  font-size: rem(16);
}

.button {
  font-weight: 700;
  line-height: 121%;
  color: #fff;
  background-color: $btnsColor;
  border-radius: 15px;
  padding: rem(26) rem(21);
  transition: all 0.3s ease 0s;
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @media (any-hover: hover) {
    &:hover {
      background-color: #dd3f5a;
    }
  }

  // .button_no-bg

  &_no-bg {
    background-color: transparent;
    border: 1px solid $blueColor;
    box-shadow: none;
    color: $blueColor;

    @media (any-hover: hover) {
      &:hover {
        background-color: transparent;
        border: 1px solid $btnsColor;
        color: $btnsColor;
      }
    }
  }

  // .button_w

  &_w {
    color: $blueColor;
    background-color: #F8FFFF;

    @media (any-hover: hover) {
      &:hover {
        background-color: transparent;
        outline: 1px solid #F8FFFF;
        color: #F8FFFF;
      }
    }
  }
}